/* NavLink CSS */
.navigationLink:link {
    color: black;
}

.navigationLink:hover {
    color: black;
    text-decoration: none;
}

.navigationTitleLink:hover {
    color: rgb(89, 86, 86);
}

.navigationTitleLink:link {
    color: white;
    text-decoration: none;
}

.navigationTitleLink {
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-size: large;
}