/* NavLink CSS */
.navigationLink {
    color: black;
}

.navigationLink:hover {
    color: teal;
}

.navigationTitleLink {
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-size: large;
    text-decoration: none;
}

/* Navbar CSS */
.shoppingBag {
    color: black;
}

/* Checkout CSS */
.checkoutButton {
    visibility: hidden;
}